<div class="custom_section">
  <div class="row">
    <div class="col-md-6">
      <div class="img">
        <img src="" alt="">
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "presets": [
      {
        "name": "Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}