<div class="custom_section">
  <div class="row">
    <div class="col-md-6">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0570/1392/8017/files/eb2f36ea4a41_-_LibertyTrike-RAL-3002-CarmineRed.png?v=1697027488" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h1>ACTIVE <b>MOBILITY</b> <br>FOR A <b>HEALTHIER</b> YOU</h1>
        <p>We have plenty of models for you to test ride. and purchase on site.</p>
        <p>Grab your dream bike and join the fun!</p>
        <p>Test rides are available both in Eimonte showroom & Florida Showroom</p>
        <a href="#">BOOK A TEST RIDE</a>
      </div>
    </div>
  </div>
</div>
<style>
.custom_section .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.custom_section img {
    width: 100%;
    max-width: 100%;
}
.custom_section .row {
    display: flex;
      flex-wrap: wrap;
    background-color: #fff;
}
.custom_section .content {
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0570/1392/8017/files/cargo-ebike_1681962517.jpg?v=1697027711);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    padding: 35px;
}
.custom_section .content h1 {
    font-size: 32px;
    color: #fff;
    line-height: normal;
      margin: 0;
}
.custom_section .content:before {
    content: '';
    background-color: rgb(5 48 116 / 90%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.custom_section .content p {
    color: rgb(255 255 255 / 70%);
    font-weight: 300;
    font-size: 14px;
    max-width: 310px;
    margin: 15px 0;
    line-height: normal;
}
.custom_section .content a {
    background-color: #e91778;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 16px;
    line-height: normal;
    border-radius: 4px;
    margin-top: 20px;
}
</style>
{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "presets": [
      {
        "name": "Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}