<div class="custom_section">
  <div class="row">
    <div class="col-md-6">
      <div class="img">
        <img src="https://cdn.shopify.com/s/files/1/0570/1392/8017/files/new_1.jpg?v=1697025992" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h1>ACTIVE <span>MOBILITY</span> <br>FOR A <span>HEALTHIER</span> YOU</h1>
        <p>We have plenty of models for you to test ride. and purchase on site.</p>
        
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "presets": [
      {
        "name": "Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}